<winmenu></winmenu>
<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a id="title" routerLink="/" class="navbar-brand d-flex align-items-center">
      <strong>{{title}}</strong>
    </a>
    <a class="navbar-toggler" routerLink="/upload-form" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
      aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
  </a>

  </div>
</div>
<router-outlet></router-outlet>