.trash-button svg{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
}
.svg{
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    width: 90px;
}
.card-text{
    text-align: center;
}
p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}